<div class="anchor-navigation" data-js-item="anchor-navigation">
	<ul class="anchor-navigation__list">
		{% for item in data.navigationItems %}
			<li class="anchor-navigation__item tab-list">
				<a href="#{{item.id}}"
				   class="anchor-navigation__item-link">
					{{item.text}}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
