<a href="mailto:{{data.apply.mail}}" class="button button--apply button--primary button--small">
	<span class="button__text">{{data.apply.buttonApply}}</span>
	<svg class="button__icon button__icon--right">
		<use href="/assets/svg/icons.svg#mail" />
	</svg>
</a>