<form data-js-item="career" name="WeAreHiring" class="career-landingpage__form form col-start-1-xs col-start-5 col-end-13">
    <div class="form__input">

   
    <label class="form__group" for="name">
        <span class="form__label">Your Name <span class="form__required">(required)</span></span>
        <input class="form__field" id="name" name="name" required type="text">
        <span class="form__subline">
            pronouns are welcome
        </span>
    </label>
    
    <label class="form__group" for="email">
        <span class="form__label">Your Email <span class="form__required">(required)</span></span>
        <input class="form__field" id="email" name="email" required type="text">
        <span class="form__subline">
            to get in contact with you
        </span>
    </label>


    <label class="form__group" for="phonenumber">
        <span class="form__label">Your Phone number <span class="form__required">(optional)</span></span>
        <input class="form__field" id="phonenumber" name="phonenumber" type="text">
        <span class="form__subline">
            if you prefer phone over email
        </span>
    </label>

    <label class="form__group" for="profile">
        <span class="form__label">Just drop us a link to one of your profiles <span class="form__required">(required)</span></span>
        <input class="form__field" id="profile" name="profile" required type="url">
        <span class="form__subline">
            GitHub . GitLab . LinkedIn . Website . Xing ...
        </span>
    </label>

    <div aria-labelledby='contactPerson' role='radiogroup' class="form__group form__radio-group">
        <span class="form__label">Whom do you wanna speak to? <span class="form__required">(required)</span></span>
        <label for="whoever" class="form__radiobox">
            <input id="whoever" type="radio" name="contactPerson" value="Whoever" checked>
            <span class="form__radiobox-label">Whoever</span>
        </label>
        <label for="recruiter" class="form__radiobox">
            <input id="recruiter" required type="radio" name="contactPerson" value="Recruiter">
            <span class="form__radiobox-label">Recruiter</span>
        </label>
        <label for="developer" class="form__radiobox">
            <input id="developer" type="radio" name="contactPerson" value="Developer">
            <span class="form__radiobox-label">Developer</span>
        </label>
    </div>

    <div aria-labelledby='privacy' role='checkbox'>
        <label for="privacy" class="form__checkbox">
            <input id="privacy" class="form__checkbox-box" required type="checkbox" name="privacy" value="accepted">
            <span class="form__checkbox-label">
                I have taken note of the <a href="./data-policy" target="_blank">privacy policy</a>. 
                I agree that my information and data will be collected and stored electronically to answer my request.
            </span>
        </label>
    </div>

    <input class='form__button button button--large button--primary button--mobile-full-width' aria-labelledby="submit" type="submit" value="Contact me">
</div>
    <div class="form__thankyou form__thankyou--hidden">
        <h3 class="headline-201">Submitted!</h3>
        <p>We will contact you! <br /> And thank you for you interest.</p>
    </div>
</form>
