<div class="notification" id="{{ notificationId }}">
	{% if userClosable == true %}
	<div>
		<p>{{ text }}</p>
		<img src="/assets/svg/Close-L.svg" alt="Close Notification" />
	</div>
	{% else %}
	<div>
		<p>{{ text }}</p>
	</div>
	{%endif%}
</div>
