<div class="notification" id="{{ notificationId }}">
	<div>
		<p>{{ text }}</p>
		<img src="/assets/svg/Close-L.svg" alt="Close Notification" {% if userClosable == true %} class="visible" {%endif%} />
	</div>
</div>
