<div class="notification" id="{{ notificationId }}">
	{% if icon == true %}
	<div class="notification__box">
		<p class="notification__text-with-icon">{{ text }}</p>
		<img class="notification__icon" src="/assets/svg/Close-L.svg" alt="Close Notification" />
	</div>
	{% else %}
	<div class="notification__box">
		<p class="notification__text-only">{{ text }}</p>
	</div>
	{%endif%}
</div>
