<h1 class="headline-1">
	{% if data.headline.firstline %}
	{{ data.headline.firstline }}
	{% else %}
	{{ firstline }}
	{% endif %}
	<br />
	{% if data.headline.secondline %}
	{{ data.headline.secondline }}
	{% else %}
	{{ secondline }}
	{% endif %}
</h1>
