<div class="profile-link-contact-form">
    <div class="profile-link-contact-form__content-inner" data-js-item="profile-link-contact-form-content">
        <h3 class="profile-link-contact-form__headline">Get on the talent
            <span class="headline-201">rad</span>
            <span class="headline-202">ar</span>
        </h3>
        <p class="profile-link-contact-form__copy">You think you might be a good fit for SinnerSchrader? <br>Just drop us a link to one of your profiles - if it's a match,
        we'll reach out to you.</p>
        <button class="button button--primary profile-link-contact-form__forwardButton" data-js-atom="profile-link-contact-form-forward">
            <span class="button__text">
            Leave your profile
            </span>
        </button>
    </div>
    <div class="profile-link-contact-form__content-inner-hidden" data-js-item="profile-link-contact-form-content-hidden">
        <button class="profile-link-contact-form__backwardButton" data-js-atom="profile-link-contact-form-backward">
            <img src="/assets/svg/Arrow-L.svg" alt="" class="button__icon profile-link-contact-form__backwardButton--svg">
        </button>
        <input type="text" class="profile-link-contact-form__profileInput" placeholder="e.g. github, gitlab, linkedIn, Xing, portfolio">
        <div class="profile-link-contact-form__dataCollector">
            <input type="checkbox" ></input>
            <p class="profile-link-contact-form__copy profile-link-contact-form__dataText">yeah, go screen my skills!</p>
        </div>
        <p class="profile-link-contact-form__copy--small">{We're keeping your personal details secure and don't share it with 3rd parties of course. Find out more in our <a href="./data-policy.html" class="profile-link-contact-form__copy--small"><b>privacy policy</b>.</a></p>
        <button class="button button--primary button--small" data-js-atom="profile-link-contact-form-backward">
            <span class="button__text">
                Send profile
            </span>
        </button>
    </div>
</div>
