<div class="share-buttons">
    <div class="share-buttons__text">
        {{title}}
    </div>
    <div class="share-buttons__button-grid">
        <button style="width: 48px; height: 48px;"></button>
        <button style="width: 48px; height: 48px;"></button>
        <button style="width: 48px; height: 48px;"></button>
        <button style="width: 48px; height: 48px;"></button>
        <button style="width: 48px; height: 48px;"></button>
        <button style="width: 48px; height: 48px;"></button>
    </div>
</div>
