<div class="share-buttons">
    <div class="share-buttons__text">
        {{title}}
    </div>
    <div class="share-buttons__button-wrapper">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
    </div>
</div>
