<div class="share-buttons"  data-js-item="share-buttons">
    <div class="share-buttons__text">
        {{title}}
    </div>
    <div class="share-buttons__button-grid">
        {% if link == true %}
        {% include button-notext, iconSrc:"/assets/svg/Link-S.svg" option:"secondary" size:"small" aria:"copy link to share" isReference:"linkShareButton" alt:"Link Icon"%}
        {%endif%}
        {% if linkedIn == true %}
        {% assign url = "https://www.linkedin.com/sharing/share-offsite/?url=https://sinnerschrader.com" | append: page.url %}
        {% include button-notext, link: url iconSrc:"/assets/svg/LinkedIn-S.svg" option:"secondary" size:"small" aria:"share on LinkedIn" isReference:"linkedInShareButton" alt:"LinkedIn Logo"%}
        {%endif%}
        {% if xing == true %}
        {% assign url = "https://www.xing.com/spi/shares/new?url=https://sinnerschrader.com" | append: page.url %}
        {% include button-notext, link: url iconSrc:"/assets/svg/Xing-S.svg" option:"secondary" size:"small" aria:"share on Xing" isReference:"xingShareButton" alt:"Xing Logo"%}
        {%endif%}
        {% if devTo == true %}
        {% assign url = "https://dev.to/new?prefill=https://sinnerschrader.com" | append: page.url %}
        {% include button-notext, link: url iconSrc:"/assets/svg/Dev.to-S.svg" option:"secondary" size:"small" aria:"share on Dev.to" isReference:"devToShareButton" alt:"Dev.to Logo" %}
        {%endif%}
        {% if facebook == true %}
        {% assign url = "https://www.facebook.com/sharer/sharer.php?u=https://sinnerschrader.com" | append: page.url %}
        {% include button-notext, link: url iconSrc:"/assets/svg/Facebook-S.svg" option:"secondary" size:"small" aria:"share on Facebook" isReference:"facebookShareButton" alt:"Facebook Logo"%}
        {%endif%}
        {% if twitter == true %}
        {% assign url = "https://twitter.com/intent/tweet?url=https://sinnerschrader.com" | append: page.url %}
        {% include button-notext, link: url iconSrc:"/assets/svg/Twitter-S.svg" option:"secondary" size:"small" aria:"share on Twitter" isReference:"twitterShareButton" alt:"Twitter Logo"%}
        {%endif%}
    </div>
</div>
