<div class="teaser-interactive-container">
    <div class="teaser-interactive-container__first-page">
        <h3 class="teaser-interactive-container__headline">
            <span class="teaser-interactive-container__headline--serif">Audi</span><br />
            e-tron GT<br />
            quattro
        </h3>
        <p class="teaser-interactive-container__text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
        </p>
        <a href="/case/{{ data.title | slug }}.html">
            <button class="button teaser-interactive-container__button">
                <span class="button__text">
                    Explore case
                </span>
            </button>
        </a>
    </div>
</div>
