<div class="text-teaser grid">
	<h3 class="text-teaser__headline col-5 col-12-xs">{{ data.text-teaser.headline }}</h3>
	<div class="text-teaser__content-wrapper col-7 col-12-xs">
		<p class="text-teaser__text">{{ data.text-teaser.text }}</p>
		{% comment %} uncomment when Cases and Culture pages are done {% endcomment %}
		{% comment %} <a href="{{ data.text-teaser.link.href }}" class="text-teaser__link">{{ data.text-teaser.link.text }}</a> {% endcomment %}
	</div>
</div>
