@import "variables";
@import "mixins";

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	@include default-animation(background-color);

	font-size: $font-size--copy-1;
	color: $color-primary--black;
	margin: 0;
	overflow-x: hidden;
	background-color: $color-primary--white;

	/* stylelint-disable-next-line */
	&.is-dark {
		background-color: $color-primary--black;
		color: $color-primary--white !important;
	}
}

main {
	overflow-x: hidden;
}

h1 {
	@include headline-100();

	color: $color-primary--white;
	font-weight: 400;
}

.headline-1 {
	@include headline-200();
	@include spacing-900(margin-top);

	margin-bottom: 0;
	color: $color-primary--black;
}

h3 {
	@include headline-200();

	font-weight: 400;
}

p {
	@include paragraph-100();

	.is-dark & {
		color: $color-primary--white;
	}
}

a {
	@include interactive-100();

	color: $color-primary--black;
	text-decoration: none;
}

ul {
	@include paragraph-100();

	list-style: none;
	margin: 0;
	padding-left: 0;
}

.section-header p {
	@include code-100();

	.is-dark & {
		color: $color-primary--white;
	}
}

.section__number {
	text-align: end;
}

.section__title,
.section__number {
	padding: 3rem 0;
	z-index: 4;

	.is-dark & {
		color: $color-primary--white;
	}
}

// Font Ogg regular - large
.headline-101 {
	@include headline-101();
}

// Font Ogg Italic - large
.headline-102 {
	@include headline-102();
}

// Font Ogg regular - smaller
.headline-201 {
	@include headline-201();
}

// Font Ogg Italic - smaller
.headline-202 {
	@include headline-202();
}

.copy {
	&--gray {
		color: $color-primary--gray;
	}

	&--mail {
		@include paragraph-100;

		word-break: break-all;
		letter-spacing: inherit;
		color: $color-primary--black;
		border-bottom: 1px solid $color-secondary--yellow;
	}

	&--title {
		@include headline-300();

		font-family: $font-sans-serif-regular;
		margin-top: 8rem;

		@include bp-xs {
			margin-top: 4.8rem;
		}

		@include bp-s {
			margin-top: 6.4rem;
		}
	}

	&--list-title {
		margin: 4rem 0;

		@include bp-xs {
			margin: 2.4rem 0;
		}

		@include bp-s {
			margin: 3.2rem 0;
		}
	}

	&--address {
		@include paragraph-100();

		font-style: normal;
	}
}
