@import "../core/variables";

.section-headline {
	margin: $spacing-800 0 $spacing-700;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	h3 {
		margin: 0;
	}
}

.locations {
	&__grid {
		grid-template-rows: 1fr auto 1fr;
	}

	&__content--hidden {
		display: none;
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
		grid-row: 2/4;
	}

	&__navigation-item + &__navigation-item {
		margin-top: $spacing-100;
	}

	&__navigation-link--selected {
		font-weight: bold;
		position: relative;

		&:before {
			width: 4px;
			height: 4px;
			content: "";
			display: inline-block;
			border-radius: 2px;
			background-color: $color-secondary--blue;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: calc(- #{$spacing-300});
		}
	}

	&__image-wrapper-small {
		overflow: hidden;
		grid-row: 2/3;
	}

	&__image-wrapper-large {
		overflow: hidden;
		grid-row: 2/4;
	}

	&__studio-info {
		grid-row: 3/4;

		&-grid {
			display: grid;
			grid-gap: $spacing-400;
			grid-template-columns: 1fr 1fr;
		}

		&-container {
			display: flex;
			flex-direction: column;

			h4 {
				margin: 0 0 $spacing-300;
			}
		}
	}

	&__image {
		width: 100%;
	}
}
