@import "../core/variables";
@import "../core/mixins";

.locations {
	&__grid {
		grid-template-rows: auto 1fr;

		@include bp-xs {
			grid-template-rows: auto 1fr auto;
		}
	}

	&__content--hidden {
		display: none;
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
		grid-row: 1/3;

		@include bp-xs {
			grid-row: 1/2;
		}
	}

	&__navigation-item {
		label {
			cursor: pointer;
		}

		& + & {
			margin-top: $spacing-100;
		}
	}

	&__navigation-button {
		border: none;
		background-color: unset;
		padding: 0;
		cursor: pointer;

		&--selected {
			font-weight: bold;
			position: relative;

			&:before {
				width: 4px;
				height: 4px;
				content: "";
				display: inline-block;
				border-radius: 2px;
				background-color: $color-secondary--blue;
				position: absolute;
				top: 45%;
				transform: translateY(-50%);

				left: calc(- #{$spacing-300});

				@include bp-xs {
					left: calc(- #{$spacing-100});
				}
			}
		}
	}

	&__image-wrapper-small {
		overflow: hidden;
		grid-row: 1/2;

		@include bp-xs {
			grid-row: 3/4;
		}
	}

	&__image-wrapper-large {
		overflow: hidden;
		grid-row: 1/3;

		@include bp-xs {
			grid-row: 2/4;
			padding-top: $spacing-400;
		}
	}

	&__studio-info {
		grid-row: 2/3;

		@include bp-xs {
			grid-row: 1/3;
		}

		&-grid {
			display: grid;
			grid-gap: $spacing-400;
			grid-template-columns: 1fr 1fr;

			@include bp-xs {
				grid-gap: $spacing-300;
				grid-template-columns: 1fr;
				padding-bottom: $spacing-300;
			}
		}

		&-container {
			display: flex;
			flex-direction: column;

			address {
				font-style: normal;
			}

			a {
				text-decoration: none;
				color: $color-primary--black;
			}

			h4 {
				margin: 0 0 $spacing-300;

				@include bp-xs {
					margin: 0 0 $spacing-100;
				}
			}
		}
	}

	&__image {
		width: 100%;
	}
}
