.offering {
	&__heading-top {
		margin-bottom: 2.4rem;
	}

	&__heading-bottom {
		margin-top: 0;
	}

	&__heading-top,
	&__heading-bottom {
		display: inline-block;
		font-size: 9.6rem;
		line-height: 120%;
		white-space: nowrap;
		transition: transform 200ms ease;
	}

	.is-font-ogg {
		font-family: ogg-regular;
	}
}
