.offering {
	position: relative;

	&__heading-top {
		margin-bottom: 2.4rem;
	}

	&__heading-bottom {
		margin-top: 0;
	}

	&__heading-top,
	&__heading-bottom {
		display: inline-block;
		font-size: 9.6rem;
		line-height: 120%;
		white-space: nowrap;
		transform: translateZ(0);
		transition: transform 100ms linear;

		.is-font-ogg {
			font-family: $font-serif;
		}
	}

	&--wrapper {
		overflow-x: scroll;
		padding: 6.4rem 0;
	}

	&--info {
		padding: 12rem 0;
		position: relative;

		&::after {
			@include dotted-grid--white();
			@include default-animation(filter);

			filter: invert(1);
		}

		.is-dark & {
			&::after {
				filter: invert(0);
			}
		}

		@include bp-s {
			width: 150%;
		}

		@include bp-xs {
			width: 270%;
		}
	}

	&__title {
		margin-bottom: 2.4rem;
		@include label-200;
	}

	&__item {
		padding-bottom: 0.8rem;
		@include paragraph-200;
	}

	&__circle {
		@include default-animation(filter);

		position: absolute;
		right: 0;
		bottom: -15rem;
		filter: invert(0);
		animation: rotating 5s linear infinite;

		.is-dark & {
			filter: invert(1);
		}
	}
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
