.work {
	position: relative;

	&::after {
		@include dotted-grid();
		content: "";
		top: 0;
		left: 0;
		right: 30%;
		bottom: 50%;
		width: auto;
	}

	&__headline {
		margin: 100px 0;

		.is-underline {
			position: relative;

			&::after {
				position: absolute;
				content: "";
				bottom: 0;
				left: -10px;
				right: -10px;
				height: 10px;
				background: url("./assets/underline.svg");
				background-repeat: no-repeat;
				background-position: 100%;
			}
		}
	}

	&__inner-wrapper {
		position: relative;
		background: $color-primary--black;

		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			right: 0;
			left: 50%;
			height: 24px;
			background-color: $color-primary--white;
		}
	}

	&__logos {
		display: flex;
		flex-wrap: wrap;
		margin: 120px 0 80px;

		&-el-wrapper {
			position: relative;
			width: 20%;
			padding: 40px 0;
			text-align: center;

			&::before,
			&::after {
				//content: "";
				position: absolute;
				height: 100%;
				width: 2px;
				top: 0;
				bottom: 0;
				background-image: radial-gradient($color-primary--white 5%, transparent 0);
				background-position: top center, bottom center;
				background-size: 2rem 2rem;
				background-repeat: no-repeat;
			}

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}

		/*&-dot {
			position: absolute;
			display: inline-block;
			background-color: $color-primary--white;
			width: 2px;
			height: 2px;
			border-radius: 50%;

			&.is-top-left {
				top: -2px;
				left: 0;
			}

			&.is-top-right {
				top: -2px;
				right: 0;
			}

			&.is-bottom-left {
				bottom: 0;
				left: 0;
			}

			&.is-bottom-right {
				bottom: 0;
				right: 0;
			}
		}*/

		img {
			max-height: 72px;
		}
	}

	&__video {
		&-container {
			@include grid-right();

			position: relative;
			width: 100%;
		}

		&-media-control {
			position: absolute;
			top: 50%;
			right: 50%;
			z-index: 5;
			transform: translate(50%, -50%);
			text-transform: uppercase;
			background: $color-primary--black;
			border-radius: 50%;
			border: none;
			height: 100px;
			width: 100px;
			color: $color-primary--white;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			.state--play {
				display: none;
			}

			.state--pause {
				display: inline-block;
			}

			&.is-playing {
				.state--play {
					display: inline-block;
				}

				.state--pause {
					display: none;
				}
			}
		}

		&-preview-loop {
			position: relative;
			width: 100%;
			z-index: 4;

			&.is-hidden {
				display: none;
			}
		}

		&-element {
			display: none;
			position: relative;
			width: 100%;
			z-index: 4;

			&::-webkit-media-controls-play-button {
				visibility: hidden;
			}

			&.is-visible {
				display: block;
			}
		}
	}
}
