.section-headline {
	margin: 160px 0 96px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	h3 {
		margin: 0;
	}
}

.hidden {
	display: none;
}

.location-navigation {
	display: flex;
	flex-direction: column;
}

.location-navigation-item {
	& + & {
		margin-top: 8px;
	}
}

.location-grid-item {
	overflow: hidden;
}

.location-main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.location-image-small {
	align-self: center;
	height: 506px;
	object-fit: cover;
}

.location-image-large {
	height: 759px;
	object-fit: cover;
}

.location-studio-container {
	display: flex;
}

.location-studio-content {
	display: flex;
	flex-direction: column;
}
