<section class="join">
	<h2 class="join__header">We <span class="join__doodle">love</span> thinkers that do.</h2>
	<p class="join__txt">Ever thought of amplifying your impact to the world? Ever clicked on a call to action in a yellow circle?</p>
	<a class="join__link" href="#">Join us</a>
</section>
