<section class="offering" data-js-item="bg-animation-to-black-start">
  {% include section-header, title: "Offering", number: "02" %}

	<!-- Todo: Remove test block -->
	<div class="test-block">
		<span>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequatur deleniti eaque et maiores minima quam similique tempora voluptatum. A amet assumenda earum facere fuga libero, necessitatibus suscipit veritatis.
		<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequatur deleniti eaque et maiores minima quam similique tempora voluptatum. A amet assumenda earum facere fuga libero, necessitatibus suscipit veritatis.
		<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae consequatur deleniti eaque et maiores minima quam similique tempora voluptatum. A amet assumenda earum facere fuga libero, necessitatibus suscipit veritatis.
		<br>
		</span>
	</div>
</section>
