<section class="offering">
  {% include section-header, title: "Offering", number: "02" %}

	<div class="offering__heading-wrapper">
		<h2 class="offering__heading-top">
			Insight <span class="is-font-ogg"> & Direction - </span>Products <span class="is-font-ogg">& Services</span>
		</h2>
		<h2 class="offering__heading-bottom">
			<span class="is-font-ogg">Digital Platforms -</span> Marketing <span class="is-font-ogg">Growth</span>
		</h2>
	</div>
</section>
