<section class="offering">
  {% include section-header, title: "Offering", number: "02" %}
	<div class="offering__heading-wrapper">
		<h2 class="offering__heading-top">
			Insight <span class="is-font-ogg"> & Direction - </span>Products <span class="is-font-ogg">& Services</span>
		</h2>
		<h2 class="offering__heading-bottom">
			<span class="is-font-ogg">Digital Platforms -</span> Marketing <span class="is-font-ogg">Growth</span>
		</h2>
	</div>
  <div class="offering--wrapper">
    <div class="grid offering--info">
      <div class="col-3">
        <h3 class="offering__title">Insight & Direction</h3>
        <ul class="offering__list">
          <li class="offering__item">Futurecasting & Ethnography</li>
          <li class="offering__item">Visioneering & Scenario Planning</li>
          <li class="offering__item">Service & Business Design</li>
          <li class="offering__item">Business Intelligence</li>
        </ul>
      </div>
      <div class="col-3">
        <h3 class="offering__title">Products & Services</h3>
        <ul class="offering__list">
          <li class="offering__item">Research & Testing</li>
          <li class="offering__item">Ideation & Proof of Concepts</li>
          <li class="offering__item">Product Design & Development</li>
          <li class="offering__item">Quantitative Modelling</li>
        </ul>
      </div>
      <div class="col-3">
        <h3 class="offering__title">Digital Platforms</h3>
        <ul class="offering__list">
          <li class="offering__item">UI/UX Transformation & Architecture</li>
          <li class="offering__item">Design Systems & Dev Ops</li>
          <li class="offering__item">eCommerce & Living Ecosystems</li>
          <li class="offering__item">Data Science & Engineering</li>
        </ul>
      </div>
      <div class="col-3">
        <h3 class="offering__title">Marketing Growth</h3>
        <ul class="offering__list">
          <li class="offering__item">Visual & Editorial Content</li>
          <li class="offering__item">Marketing & Personalization</li>
          <li class="offering__item">Performance & Growth</li>
          <li class="offering__item">Analytics</li>
        </ul>
      </div>
    </div>
    <div class="offering__circle">
      <img src="./assets/circle-text.svg" alt="">
    </div>
  </div>
</section>
