<h1 
  {% if classModifier %} 
    class="headline-1 {{data.headline.classModifier}}" 
  {% else %} 
    class="headline-1" 
  {% endif %}
>
  {% for headlineElement in data.headline.headlineElements %}
  
    <span 
      {% if headlineElement.htmlAttributes %}
        {% for attribute in headlineElement.htmlAttributes %}
          {{ attribute[0] }}={{ attribute[1] }}
        {% endfor %}
      {% endif %}
    >
      {{ headlineElement.text }}
    </span>

    {% if headlineElement.lineBreakAfter %}
      <br>
    {% endif %}

  {% endfor %}
</h1>
