<div class="stage grid">
    <div class="stage__title col-start-2 col-end-5">
        <h1>brains<br> that build</h1>
    </div>
    <div class="stage__image col-start-6 col-end-12">
        <img src="./assets/stage.png" alt="">
    </div>
    <div class="stage__overlap col-start-1 col-end-11"></div>
</div>
<div class="grid">
    <div class="stage__dot-grid col-12"></div>
</div>