<section class="work">
	<div class="grid">
		<div class="section__title col-2">
			<p>Work</p>
		</div>
		<div class="section__number col-start-12 col-end-13">
			<p>04</p>
		</div>
	</div>
	<div class="grid">
		<h2 class="work__headline col-start-6 col-start-1-xs col-end-12">
			<span class="is-font-change">We push</span>
			companies
			<span class="is-right">
				out of their comfort
				<span class="is-underline">zone.</span>
			</span>
		</h2>
	</div>
	<div class="work__inner-wrapper">
		<div class="grid is-grid--right">
			<div class="work__video-container">
				<video class="work__video-element" src="./assets/S2_160221.mp4" controls></video>
				<button class="work__video-media-control">Play Reel</button>
			</div>
			<div class="work__logos">
				<img src="./assets/VW.svg" alt="">
				<img src="./assets/Audi.svg" alt="">
				<img src="./assets/Comdirect.svg" alt="">
				<img src="./assets/ADAC.svg" alt="">
				<img src="./assets/Telefonica.svg" alt="">
				<img src="./assets/Bosch.svg" alt="">
				<img src="./assets/Roche.svg" alt="">
				<img src="./assets/Deutsche_Bank.svg" alt="">
				<img src="./assets/Deutsche_Bahn.svg" alt="">
				<img src="./assets/Airbus.svg" alt="">
			</div>
		</div>
	</div>
</section>
