.archive-page {
	&__intro {
		@include spacing-900(margin-top);
		@include spacing-900(margin-bottom);

		h1 {
			color: $color-primary--black;

			.is-dark & {
				color: $color-primary--white;
			}
		}
	}

	.list {
		&__item {
			padding-right: 10vw;
			border-bottom: 0;

			&-title {
				font-family: $font-sans-serif-light;
				@include bp-xs {
					font-size: 1.8rem;
				}
				@include bp-tablet {
					font-size: 2.4rem;
				}
				@include bp-l {
					font-size: 2.4rem;
				}
				@include bp-xl {
					font-size: 3.2rem;
				}
			}
		}

		&__image-wrapper {
			position: relative;
			overflow: hidden;
			margin-bottom: 2vw;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
			}
		}

		&__image-wrapper::before {
			content: "";
			display: block;
			width: 100%;
			padding-top: 100%;
		}
	}

	&__pagination {
		a {
			margin-right: 2em;
			text-transform: uppercase;
		}
	}
}
