// BUTTON
// TODO: update color variables according to the changes in Figma
.button {
	@include interactive-100();

	line-height: initial;
	border: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&--mobile-full-width {
		@include bp-xs() {
			width: 100%;
			justify-content: center;
		}
	}

	&__icon {
		fill: none;
		width: 1.6rem;
		height: 1.6rem;

		&--left {
			padding-right: $spacing--200;
		}

		&--right {
			padding-left: $spacing--200;
		}
	}

	// buttonOption
	&--primary {
		background-color: $color-primary--black;
		color: $color-primary--white;

		.is-dark & {
			background-color: $color-primary--beige;
			color: $color-primary--black;
		}

		.button__icon {
			stroke: $color-primary--white;
		}

		.is-dark & .button__icon {
			stroke: $color-primary--black;
		}
	}

	&--secondary {
		background-color: $color-primary--beige;
		color: $color-primary--black;

		.is-dark & {
			background-color: $color-primary--gray;
			color: $color-primary--white;
		}

		.button__icon {
			stroke: $color-primary--black;
		}

		.is-dark & .button__icon {
			stroke: $color-primary--white;
		}
	}

	&--tertiary {
		background: none;

		.button__text {
			border-bottom: 0.1rem solid $color-secondary--yellow;

			&:hover {
				border-bottom: 0;
			}
		}

		.is-dark & {
			color: $color-primary--white;
		}
	}

	&--mobile-full-width {
		@include bp-xs() {
			width: 100%;
			justify-content: center;
		}
	}

	// buttonSize
	&--large {
		@include button-animation();

		padding: $spacing--200 0;
		width: 14rem;
		border-radius: 2.4rem;
	}

	&--small {
		@include button-animation();

		padding: $spacing--150 0;
		width: 14rem;
		border-radius: 2rem;
	}

	&--apply {
		@include button-animation();

		max-width: 17rem;
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding: $spacing--150 0;
		border-radius: 2rem;

		@include bp-xs {
			width: 100%;
			max-width: none;
		}

		svg {
			vertical-align: middle;
		}

		.is-dark & {
			svg {
				filter: invert(1);
			}
		}
	}

	// hover
	&:hover {
		cursor: pointer;
	}

	// state
	&:disabled {
		color: $color-primary--light-gray;

		.button__text {
			border-bottom: 0;
		}

		.button__icon {
			stroke: $color-primary--light-gray;
		}
	}
}
