.career-landingpage {
	.background {
		&--raster {
			row-gap: 0;
			background: #000 url("./assets/meta-assets/background.png") no-repeat;

			@include bp-xs {
				background-image: none;
			}
		}
	}

	a {
		color: inherit;
	}

	&__intro {
		@include spacing-600(margin-top);
	}

	&__intro-text {
		@include subheadline-200();
		
		margin: 0;
	}

	.large-title {
		margin: 0 0 3rem;
		position: relative;
		width: 100%;
		height: 24.4rem;

		@include bp-s {
			margin: 3rem 0;
			height: 43rem;
		}

		@include bp-m {
			height: 43rem;
		}

		@include bp-l {
			height: 45rem;
		}

		&__text {
			top: 30%;
			font-family: $font-serif;
			font-size: 15rem;
			margin: 0;
			position: absolute;
			line-height: 70%;
			left: -3rem;

			@include bp-xs {
				font-size: 16rem;
			}

			@include bp-s {
				font-size: 20rem;
			}

			@include bp-m {
				font-size: 30rem;
			}

			@include bp-l {
				font-size: 36rem;
			}

			@include bp-xl {
				font-size: 50rem;
			}

			&--ogg {
				font-family: $font-serif-italic;
			}
		}
	}

	.form__group {
		@include responsive-spacing(margin-bottom, $spacing--600, 2.4rem, 2.4rem, 2.4rem);
	}

	.form__radio-group {
		@include responsive-spacing(margin-bottom, 2.4rem, 3.2rem, 3.2rem, 3.2rem);
	}

	.form {
		margin-bottom: 5em;
	}
}

.grid .grid {
	margin: 0;
}

.buzzword {
	&__headline {
		@include headline-200();

		margin-top: 0;
	}

	&__list {
		@include paragraph-200();

		display: flex;
		flex-wrap: wrap;
		margin-bottom: $spacing--400;
		margin-right: -0.75em; // make list bigger, so the last element in a row fits

		li {
			display: inline-block;
			padding: 0.25em 1em;
			margin: 0 0.75em 0.75em 0;
			background-color: $color-primary--gray;
			border-radius: 1em;
		}
	}

	&__link {
		border-bottom: 2px solid $color-secondary--yellow;
		text-transform: uppercase;
	}
}
