// needed to make position: sticky; work
.cases-page {
	overflow-x: initial;

	// Filter Button that floats with scrolling
	@include bp-xs {
		.mobile-floater {
			display: block;
			position: sticky;
			top: 90vh;
			text-align: right;
			max-width: 100%;
			overflow: hidden;
			z-index: 100;

			.toggle-button {
				@include icon-button();

				position: relative;
				cursor: pointer;
				transform: translateX(4rem);
				transition: transform 0.4s ease-in;
			}

			.freeze-scroll & {
				display: none;
			}

			.is-floating ~ & {
				.toggle-button {
					transform: translateX(-4rem);
				}
			}

			svg {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 4px;
				top: 5px;
				filter: invert(1);
			}
		}

		.js-toggle-filter-bar--mobile {
			position: relative;

			svg {
				position: absolute;
				width: 16px;
				height: 16px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__intro {
		@include spacing-900(margin-top);
		@include spacing-900(margin-bottom);

		h1 {
			color: $color-primary--black;

			.is-dark & {
				color: $color-primary--white;
			}
		}
	}

	&--teaser {
		overflow-x: hidden;
	}
}
