.case-details-page {
	overflow-x: initial;

	.image-teaser {
		position: relative;
		margin-left: 0;
		margin-bottom: $spacing--900;

		@include bp-xs {
			&::before {
				left: auto;
				right: 0;
			}
		}

		@include bp-xs {
			overflow-x: hidden;
			margin: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: $spacing--200;
			height: 50%;
			background-color: $color-primary--white;
			z-index: 2;

			@include bp-xs {
				width: 0;
			}
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			height: $spacing--200;
			width: calc(100% - 120px);
			background-color: $color-primary--white;
			z-index: 2;

			@include bp-xs {
				width: 0;
			}
		}

		.is-dark & {
			&::before,
			&::after {
				background-color: $color-primary--black;
				transition: background-color $transition-main ease-in-out, color $transition-main ease-in-out;
			}
		}

		img {
			width: 100%;
		}

		&__content {
			position: absolute;
			left: 8vw;
			top: 18vw;

			@include bp-xs {
				text-align: center;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			h3 {
				line-height: 1rem;
				font-family: $font-serif;

				&.first-line {
					font-family: $font-sans-serif-light;
				}

				@include bp-xs {
					font-size: 5rem;
				}
				@include bp-tablet {
					font-size: 5rem;
				}
				@include bp-l {
					font-size: 8rem;
				}
				@include bp-xl {
					font-size: 10rem;
				}
			}
		}
	}

	.abstract-container {
		&__agenda {
			margin-top: 5rem;

			p {
				@include code-100();

				line-height: 0;
			}
		}

		&__description {
			@include spacing-800(margin-bottom);

			h4 {
				@include headline-300();
			}

			&:last-child {
				@include spacing-900(margin-bottom);
			}
		}

		button {
			margin: 3rem 0 10rem;
		}
	}

	.bg-text {
		content: "craft";
		font-family: $font-serif;
		font-size: 23.5vw;
		margin: 20vw -2vw;
		line-height: 1vw;

		@include bp-xs() {
			display: none;
		}
	}

	.bg-text-small {
		display: none;

		@include bp-xs() {
			display: block;
			content: "craft";
			font-family: $font-serif;
			font-size: 53vw;
			line-height: 40vw;
			margin: 30vw -13vw;
		}
	}

	.slider {
		h3 {
			grid-column-end: span 5;
			margin-top: 0;

			@include bp-xs() {
				display: block;
				margin-left: 12;
			}
		}

		p {
			grid-column-end: span 7;

			@include bp-xs() {
				grid-column-end: span 12;
			}
		}

		.swiper-slide {
			margin-top: 6vw;

			p {
				margin: 1rem 0;

				span {
					font-family: $font-sans-serif-semibold;
				}
			}
		}
	}
}
