.contact {
	@include paragraph-200();

	@include bp-xs {
		display: flex;
		flex-flow: column nowrap;
	}

	&__headline {
		@include label-100();
		@include spacing-300(margin-bottom);

		margin-top: 0;
	}

	&__person {
		@include spacing-300(gap);
		@include spacing-400(margin-bottom);

		display: flex;
		flex-flow: column nowrap;

		@include bp-xs {
			@include spacing-500(margin-bottom);

			flex-flow: row nowrap;
		}
	}

	&__image {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}

	&__person-data {
		margin: 0;
	}

	&__link-container {
		display: flex;
		align-items: center;
	}

	&__link {
		@include paragraph-200();

		font-style: normal;

		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__link-social {
		border-bottom: 0.1rem solid $color-secondary--yellow;
	}

	&__link-separator {
		display: inline-block;
		width: 0.2rem;
		height: 0.2rem;
		margin: 0.5rem;
		border-radius: 50%;
		background: $color-primary--black;

		.is-dark & {
			background: $color-primary--white;
		}
	}
}
