.contact {
	@include paragraph-200();

	position: sticky;
	top: 0;

	@include bp-xs {
		display: flex;
		flex-flow: column nowrap;
	}

	&__headline {
		@include label-100();

		@include spacing-300(margin-bottom);

		margin-top: 0;
	}

	&__person {
		@include paragraph-200();
		@include spacing-300(gap);
		@include spacing-400(margin-bottom);

		display: flex;
		flex-flow: column nowrap;

		@include bp-xs {
			@include spacing-500(margin-bottom);

			flex-flow: row nowrap;
		}
	}

	&__image {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;

		@include bp-xs() {
			width: 8.8rem;
			height: 8.8rem;
			margin-right: 2rem;
		}
	}

	&__person-data {
		margin: 0;
	}

	&__link-container {
		@include spacing-100(margin-top);

		display: flex;
		justify-content: space-around;
		width: 17rem;
	}

	&__link {
		@include paragraph-200();

		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__link-social {
		border-bottom: 0.1rem solid $color-secondary--yellow;
	}
}
