.data-policy {
	@include responsive-spacing(margin-top, $spacing--700, $spacing--700--tablet, $spacing--700--desktop, $spacing--700--desktop-xl);

	.anchor-navigation {
		@include responsive-spacing(top, $spacing--600, $spacing--600--tablet, $spacing--600--desktop, $spacing--600--desktop-xl);

		position: sticky;

		@include bp-xs {
			display: none;
		}

		@include bp-s {
			display: none;
		}
	}

	&__content {
		h2 {
			@include headline-200();

			font-weight: 400;

			@include bp-m {
				max-width: 33rem;
			}

			@include bp-l {
				max-width: 40rem;
			}

			@include bp-xl {
				max-width: 50rem;
			}
		}

		h3 {
			margin-bottom: $spacing--400;
		}

		:target::before {
			@include responsive-spacing(height, $spacing--600, $spacing--600--tablet, $spacing--600--desktop, $spacing--600--desktop-xl);
			@include responsive-spacing(margin, -$spacing--600, -$spacing--600--tablet, -$spacing--600--desktop, -$spacing--600--desktop-xl);

			content: "";
			display: block;
		}

		section > :last-child {
			@include responsive-spacing(margin-bottom, $spacing--600, $spacing--600--tablet, $spacing--600--desktop, $spacing--600--desktop-xl);
		}

		ul {
			list-style: disc;
			margin-left: 2.2rem;
		}

		li {
			margin-bottom: $spacing--400;

			&:last-child {
				margin-bottom: $spacing--400--desktop;
			}
		}

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
}

.privacy {
	overflow-x: initial;
}
