@import "../core/variables";

.filter-checkbox {
	border-radius: 10rem;
	background-color: $color-primary--beige;
	display: flex;

	.is-dark & {
		background-color: $color-primary--gray;
	}

	&__input {
		appearance: none;
	}

	&--checked {
		background-color: $color-primary--black;

		.is-dark & {
			background-color: $color-primary--white;
		}
	}
}
