@import "../core/variables";
@import "../core/mixins";

.icon-button {
	border-radius: 50%;
	border: 0;
	height: 4.8rem;
	width: 4.8rem;
	background-color: $color-primary--black;
	cursor: pointer;

	.is-dark & {
		background-color: $color-primary--beige;
	}

	&:hover {
		@include default-animation(transform);

		transform: scale(1.4);
	}

	&--small {
		height: 4rem;
		width: 4rem;
	}

	&--secondary {
		background-color: $color-primary--beige;

		.is-dark & {
			background-color: $color-primary--darkgray;
		}
	}

	&--tertiary {
		background-color: transparent;

		.is-dark & {
			background-color: transparent;
		}
	}

	&__icon {
		height: 3.2rem;
		width: 3.2rem;
		filter: invert(0);

		.is-dark & {
			filter: invert(1);
		}

		.icon-button:hover & {
			@include default-animation(transform);

			transform: scale(0.86);
		}

		&--small {
			height: 1.6rem;
			width: 1.6rem;
		}

		&--secondary {
			filter: invert(1);

			.is-dark & {
				filter: invert(0);
			}
		}

		&--tertiary {
			filter: invert(1);

			.is-dark & {
				filter: invert(0);
			}
		}
	}
}
