@import "./button";

@mixin bp-mobile {
	@media screen and (max-width: 899px) {
		@content;
	}
}

.image-text-teaser {
	@include responsive-spacing(margin-left, $spacing--400, $spacing--700, $spacing--800, $spacing--900);

	position: relative;
	margin-bottom: $spacing--900;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: $spacing--200;
		width: 50%;
		background-color: $color-primary--white;
	}

	.is-dark & {
		&::before {
			background-color: $color-primary--black;
		}
	}

	@include bp-mobile {
		&::before {
			left: auto;
			right: 0;
		}
	}

	img {
		width: 100%;

		@include bp-mobile {
			width: auto;
			height: 52.6rem;
		}
	}

	&__content {
		@include responsive-spacing(left, 0, 60%, 70%, 80%);

		position: absolute;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		right: 0;
		top: $spacing--900;
		bottom: -$spacing--700;
		background: $color-primary--black;
		color: $color-primary--white;
		padding: $spacing--700;

		@include bp-mobile {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			margin-top: -19.2rem;
			margin-right: 7.7rem;
		}

		.is-dark & {
			background: $color-primary--white;
			color: $color-primary--black;
		}
	}

	&__content-inner {
		width: 100%;
		height: auto;
		opacity: 1;
		transition: opacity 150ms ease-in-out, height 0ms ease 140ms, width 0ms ease 140ms;
		z-index: 1;

		&.is-hidden {
			height: 1px;
			width: 1px;
			opacity: 0;
			z-index: 0;
			transition: opacity 150ms ease-in-out 150ms;
		}
	}

	&__content-inner-hidden {
		width: 1px;
		height: 1px;
		opacity: 0;
		z-index: 0;
		transition: opacity 150ms ease-in-out 150ms, height 0ms ease 140ms, width 0ms ease 140ms;

		&.is-active {
			width: 100%;
			height: auto;
			opacity: 1;
			z-index: 1;
		}
	}

	&__headline {
		margin-top: 0;
	}

	&__copy {
		color: $color-primary--white;

		.is-dark & {
			color: $color-primary--black;
		}
	}

	.button {
		background-color: $color-primary--gray;
		color: $color-primary--white;

		.is-dark & {
			background-color: $color-primary--beige;
			color: $color-primary--black;
		}
	}
}
