.imprint {
	&__title {
		@include headline-300();

		margin-top: 4rem;

		@include bp-xs {
			margin-top: 2.4rem;
		}

		@include bp-s {
			margin-top: 3.2rem;
		}
	}
}

.imprint-large-title {
	.large-title__text {
		font-size: 16rem;
		right: 7%;

		@include bp-xs {
			font-size: 5rem;
			right: 5%;
		}

		@include bp-s {
			font-size: 8rem;
			right: 10%;
		}

		@include bp-m {
			font-size: 12rem;
			right: 9%;
		}
	}

	.large-title__circle {
		right: 15%;
		top: -20%;
	}
}
