.imprint {
	&__title {
		@include headline-300();

		margin-top: 4rem;

		@include bp-xs {
			margin-top: 2.4rem;
		}

		@include bp-s {
			margin-top: 3.2rem;
		}
	}
}

.imprint-large-title {
	@include bp-xs {
		.large-title__text {
			right: -30rem;
		}
	}

	.large-title__circle {
		right: 15%;
		top: -20%;
	}
}
