// reset form groups.
// TODO: we might consider to reset them globally
fieldset {
	font-family: inherit;
	border: 0;
	margin: 0;
	padding: 0;
}

// local variables
$filter-bar-height--mobile: 7.2rem;
$filter-bar-height--desktop: 11.8rem;

@mixin active-filters {
	@include code-100;

	font-size: 1rem;
	color: $color-primary--600;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

.jobs__intro {
	@include spacing-900(margin-top);
	@include spacing-900(margin-bottom);

	h1 {
		color: $color-primary--black;

		.is-dark & {
			color: $color-primary--white;
		}
	}
}
// needed to make position: sticky; work
.jobs-page {
	overflow-x: initial;

	// Filter Button that floats with scrolling
	@include bp-xs {
		.mobile-floater {
			display: block;
			position: sticky;
			top: 90vh;
			text-align: right;
			max-width: 100%;
			overflow: hidden;
			z-index: 12;

			.toggle-button {
				position: relative;
				cursor: pointer;
				transform: translateX(100%);
				transition: transform 0.4s ease-in;
				height: 5rem;
				width: 5rem;
			}

			.freeze-scroll & {
				display: none;
			}
		}
	}

	&--perks {
		@include spacing-700(margin-top);
		@include spacing-700(margin-bottom);
	}

	&--offering,
	&--teaser {
		overflow-x: hidden;
	}

	.offering--info {
		@include spacing-900(padding-bottom);

		padding-top: 0;
	}
}

// When the fullscreen filter menu is open we want to prevent scrolling in the background
.freeze-scroll {
	height: 100vh;
	overflow: hidden;
}

.toggle-button--jobs {
	transition: transform 0.25s ease-out;

	@include bp-xs {
		display: none;
	}

	.is-open & {
		transform: rotate(180deg);
		transition: transform 0.25s ease-out;
	}

	&:hover {
		cursor: pointer;
	}
}

//openings title
.openings {
	@include spacing-900(margin-bottom);

	height: 80rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("assets/svg/openings.svg");
	background-position-y: center;

	@include bp-xs {
		height: 17rem;
	}

	@include bp-s {
		height: 25rem;
	}

	@include bp-m {
		height: 40rem;
	}

	@include bp-l {
		height: 51rem;
	}

	.is-dark & {
		filter: invert(1);
	}
}

@include bp-xs {
	.offering--info {
		overflow-x: hidden;
		margin-right: 0;
	}
}
