@import "../core/variables";
@import "../core/mixins";

@mixin bp-navigation {
	@media screen and (max-width: 800px) {
		@content;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $color-primary--white;
	height: 9.5rem;
	z-index: 5;
	text-transform: $uppercase;
	transition: transform 300ms ease-in-out;

	&.is-mobile-active {
		.nav__offset-panel {
			opacity: 1;
			left: 0;
		}

		.dot-wrapper {
			width: 24px;
			height: 24px;
			transform: rotate(45deg);
		}

		.dot {
			background-color: $color-primary--white;

			&:nth-child(odd) {
				margin-right: 12px;
				margin-bottom: 12px;
			}
		}
	}

	&.is-animate-out {
		transform: translateY(-100px);
	}

	&.is-animate-in {
		transform: translateY(0);
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	&__logo {
		position: relative;
		margin: auto 0;

		&--sinnerschrader {
			@include interactive-100();

			color: $color-primary--black;
			margin: 0;
			position: relative;
		}

		&--accenture {
			font-family: $font-sans-serif-light;
			font-size: 0.8rem;
			margin: 0;
			text-transform: none;
			position: absolute;
			min-width: 200px;
		}

		&--accenture-bold {
			font-family: $font-sans-serif-semibold;
		}
	}

	&__list {
		align-items: stretch;
		display: flex;
		justify-content: flex-end;
		line-height: 9.5rem;
		margin: auto 0;
		padding-left: 0;

		@include bp-navigation() {
			display: none;
		}

		&__item {
			list-style-type: none;

			& + & {
				@include spacing-300(margin-left);
			}
		}

		&__link {
			color: $color-primary--black;
			display: inline-block;
			text-decoration: none;
			padding: 1rem 0;
		}
	}

	&__mobile-toggle {
		display: none;
		cursor: pointer;
		z-index: 6;
		background: none;
		border: unset;

		@include bp-navigation {
			display: block;
		}

		.dot-wrapper {
			width: 16px;
			height: 16px;
			display: flex;
			flex-wrap: wrap;
			transition: transform 300ms ease 300ms, height 300ms ease, width 300ms ease;
		}

		.dot {
			display: block;
			height: 4px;
			width: 4px;
			background-color: $color-primary--black;
			border-radius: 50%;
			transition: background-color 0ms ease 300ms;

			&:nth-child(odd) {
				margin-right: 8px;
				margin-bottom: 8px;
				transition: margin 300ms ease 300ms;
			}
		}
	}

	&__offset-panel {
		position: fixed;
		left: 100vw;
		top: 0;
		height: 100vh;
		width: 100vw;
		background: $color-primary--black;
		color: $color-primary--white;
		z-index: 5;
		opacity: 0;
		transition: left 300ms ease, opacity 0ms ease 300ms;

		&__wrapper {
			margin-top: $spacing--900;
		}
	}
}
