@import "../core/variables";
@import "../core/mixins";

@mixin bp-navigation {
	@media screen and (max-width: 810px) {
		@content;
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 9.5rem;
	z-index: 11;
	transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;

	&.is-light {
		background-color: $color-primary--white;
		color: $color-primary--black;

		.nav__list__link {
			@include underline-animation($color-primary--black);

			color: $color-primary--black;
		}

		.dot {
			background-color: $color-primary--black;
		}

		.nav__logo--sinnerschrader {
			color: $color-primary--black;
		}
	}

	&.is-transparent {
		background-color: transparent;
		color: $color-primary--white;

		.nav__list__link {
			@include underline-animation($color-primary--white);

			color: $color-primary--white;
		}

		.dot {
			background-color: $color-primary--white;
		}

		.nav__logo--sinnerschrader {
			color: $color-primary--white;
		}
	}

	&.is-text-dark {
		color: $color-primary--black;

		.nav__list__link {
			@include underline-animation($color-primary--black);

			color: $color-primary--black;
		}

		.dot {
			background-color: $color-primary--black;
		}

		.nav__logo--sinnerschrader {
			color: $color-primary--black;
		}
	}

	&.is-text-light {
		color: $color-primary--white;

		.nav__list__link {
			@include underline-animation($color-primary--white);

			color: $color-primary--white;
		}

		.dot {
			background-color: $color-primary--white;
		}

		.nav__logo--sinnerschrader {
			color: $color-primary--white;
		}
	}

	&.is-animate-out {
		transform: translateY(-10rem);
	}

	&.is-animate-in {
		transform: translateY(0);
	}

	&.is-top {
		transform: translateY(0);
	}

	&.is-mobile-active {
		body {
			overflow: hidden;
		}

		.nav__offset-panel {
			left: 0;
			overflow-y: auto;
		}

		.dot {
			background-color: $color-primary--white;
		}

		.dot-1 {
			top: -0.6rem;
			left: 0.6rem;
		}

		.dot-2 {
			top: 0.6rem;
			right: -0.6rem;
		}

		.dot-3 {
			bottom: 0.6rem;
			left: -0.6rem;
		}

		.dot-4 {
			bottom: -0.6rem;
			right: 0.6rem;
		}

		.nav__logo--sinnerschrader {
			color: $color-primary--white;
		}

		.nav__container {
			position: relative;
			background-color: $color-primary--black;
			z-index: 10;
			margin: 0;
			padding: 0 2.4rem;
			transition: background-color 300ms ease-in-out 300ms;
		}

		.nav__logo {
			visibility: hidden;
		}
	}

	.is-dark & {
		background-color: $color-primary--black;

		.nav__list__link {
			@include underline-animation($color-primary--white);

			color: $color-primary--white;
		}

		.dot {
			background-color: $color-primary--white;
		}

		.nav__logo--sinnerschrader {
			color: $color-primary--white;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	&__container {
		height: 100%;
	}

	&__logo {
		position: relative;
		margin: auto 0;
		text-transform: uppercase;

		&--sinnerschrader {
			@include interactive-100();

			color: $color-primary--black;
			margin: 0;
			position: relative;
		}

		&--accenture {
			font-family: $font-sans-serif-light;
			font-size: 0.8rem;
			margin: 0;
			text-transform: none;
			position: absolute;
			min-width: 200px;
		}

		&--accenture-bold {
			font-family: $font-sans-serif-semibold;
		}
	}

	&__list {
		align-items: stretch;
		display: flex;
		justify-content: flex-end;
		line-height: 9.5rem;
		margin: auto 0;
		padding-left: 0;

		@include bp-navigation() {
			display: none;
		}

		&__item {
			list-style-type: none;

			& + & {
				@include spacing-300(margin-left);
			}
		}

		&__link {
			@include underline-animation($color-primary--black);

			color: $color-primary--black;
			display: inline-block;
			text-decoration: none;
			padding: 1rem 0;
			text-transform: uppercase;
			overflow-y: hidden;
			vertical-align: text-top;
		}
	}

	&__mobile-toggle {
		display: none;
		cursor: pointer;
		z-index: 6;
		background: none;
		border: unset;
		width: 3.6rem;

		@include bp-navigation {
			display: block;

			&:focus {
				outline: none;
			}
		}

		.dot-wrapper {
			position: absolute;
			top: 50%;
			width: $spacing--200;
			height: $spacing--200;
			display: flex;
			flex-wrap: wrap;
			transition: transform 300ms ease, height 300ms ease, width 300ms ease 300ms;
		}

		.dot {
			position: absolute;
			display: block;
			height: 4px;
			width: 4px;
			background-color: $color-primary--black;
			border-radius: 50%;
			transition: background-color 300ms ease, top 300ms ease, right 300ms ease, left 300ms ease, bottom 300ms ease;
		}

		.dot-1 {
			top: 0;
			left: 0;
		}

		.dot-2 {
			top: 0;
			right: 0;
		}

		.dot-3 {
			bottom: 0;
			left: 0;
		}

		.dot-4 {
			bottom: 0;
			right: 0;
		}
	}

	&__offset-panel {
		position: fixed;
		left: 100vw;
		top: 0;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		background: $color-primary--black;
		color: $color-primary--white;
		z-index: 5;
		opacity: 1;
		transition: left 300ms ease;

		&__wrapper {
			margin-top: $spacing--900;
			padding-right: $spacing--200;
			text-align: right;
		}

		&__list-item {
			margin-bottom: $spacing--400;
		}

		&__list-link {
			position: relative;
			font-family: $font-sans-serif-regular;
			font-size: 3.2rem;
			color: $color-primary--white;

			&::after {
				position: absolute;
				display: none;
				content: "";
				right: -1.7rem;
				top: 50%;
				width: 4px;
				height: 4px;
				background-color: $color-secondary--purple;
				border-radius: 50%;
				transform: translateY(-50%);
			}

			&.is-active {
				font-size: 3.5rem;
				font-family: $font-serif;

				&::after {
					display: block;
				}
			}
		}

		&__bottom-container {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-bottom: $spacing--800;
		}

		&__bottom-wrapper {
			margin-right: $spacing--500;

			&:last-child {
				margin-right: 0;
			}
		}

		&__bottom-headline {
			@include code-100();

			display: block;
			color: $color-primary--600;
			margin-bottom: $spacing--400;
		}

		&__bottom-link {
			@include paragraph-100();

			color: $color-primary--white;
			line-height: 2.56rem;
		}

		&__bottom-item {
			margin-bottom: $spacing--100;
		}
	}
}
