@import "../core/variables";
@import "../core/mixins";

@mixin bp-navigation {
	@media screen and (max-width: 800px) {
		@content;
	}
}

.nav {
	background: $color-primary--white;
	height: 9.5rem;
	text-transform: $uppercase;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	&__logo {
		position: relative;
		margin: auto 0;

		&--sinnerschrader {
			@include interactive-100();

			color: $color-primary--black;
			margin: 0;
			position: relative;
		}

		&--accenture {
			font-family: $font-sans-serif-light;
			font-size: 0.8rem;
			margin: 0;
			text-transform: none;
			position: absolute;
			min-width: 200px;
		}

		&--accenture-bold {
			font-family: $font-sans-serif-semibold;
		}
	}

	&__list {
		align-items: stretch;
		display: flex;
		justify-content: flex-end;
		line-height: 9.5rem;
		margin: auto 0;
		padding-left: 0;

		@include bp-navigation() {
			display: none;
		}

		&__item {
			list-style-type: none;

			& + & {
				@include spacing-300(margin-left);
			}
		}

		&__link {
			color: $color-primary--black;
			display: inline-block;
			text-decoration: none;
			padding: 1rem 0;
		}
	}

	&__mobile-toggle {
		display: none;
		z-index: 6;

		@include bp-navigation {
			display: block;
		}
	}

	&__offset-panel {
		position: fixed;
		left: 100vw;
		top: 0;
		height: 100vh;
		width: 100vw;
		background: $color-primary--black;
		color: $color-primary--white;
		z-index: 5;
		opacity: 0;
		transition: left 300ms ease, opacity 300ms ease;

		&.is-active {
			opacity: 1;
			left: 0;
		}
	}
}
