.news-details-page {
	.image-teaser {
		margin-bottom: 0;
	}

	&__title {
		img {
			@include bp-xs {
				width: 250%;
			}
			@include bp-s {
				width: 150%;
			}
		}

		margin-top: 10rem;

		.content-box {
			grid-column: 2 / 3;
			grid-row: 2 / 4;
			height: fit-content;
			min-height: 100%;
			background-color: $color-primary--black;
			color: $color-primary--white;

			@include bp-s-and-lower {
				grid-column: 1 / 2;
				background-color: $color-primary--white;
				color: $color-primary--black;
			}
		}

		.title {
			position: relative;
			display: flex;
			flex-direction: row;
			height: 100%;
			overflow: hidden;
			padding: $spacing--600;
		}
	}

	&__article {
		margin-bottom: 20rem;

		.introText {
			p {
				@include headline-300();
			}
		}

		.articleText {
			p {
				font-family: $font-sans-serif-light;
				@include bp-xs {
					font-size: 1.8rem;
				}
				@include bp-tablet {
					font-size: 2.4rem;
				}
				@include bp-l {
					font-size: 2.4rem;
				}
				@include bp-xl {
					font-size: 3.2rem;
				}
			}
		}
	}

	&__popular-news {
		.popular-news {
			grid-column-gap: 20px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			position: relative;
			z-index: 4;

			@include bp-s-and-lower {
				grid-template-columns: 1fr 1fr;
			}

			.news-item {
				@include default-animation(transform);

				position: relative;
				transform: scale(1);

				@include bp-s-and-lower {
					&:last-of-type {
						display: none;
					}
				}

				.square-container {
					display: flex;
					flex-wrap: wrap;
				}

				.square {
					position: relative;
					flex-basis: 100%;
					margin: 5px;
					border: 1px solid;
					box-sizing: border-box;
				}

				.square::before {
					content: "";
					display: block;
					padding-top: 100%;
				}

				.square .content {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&:hover {
					transform: scale(1.1);
				}

				img {
					height: 100%;
				}

				p {
					margin: 0;
					padding-right: 32px;

					@include bp-l {
						@include subheadline-200();
					}

					@include bp-xl {
						@include subheadline-200();
					}
				}
			}
		}
	}

	p {
		br {
			content: "";
			margin: 1em;
			display: block;
		}
	}
}
