.profile-link-contact-form {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow: hidden;

	@include bp-xs {
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		width: auto;
	}

	.is-dark & {
		background: $color-primary--white;
		color: $color-primary--black;

		@include bp-xs {
			background: $color-primary--black;
			color: $color-primary--white;
		}
	}

	&__first-page {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: 100%;
		box-sizing: border-box;
		transition: opacity 500ms ease, transform 500ms ease;
		transform: translateX(-100%);

		&.active-state {
			transform: translateX(0);
		}
	}

	&__second-page {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		width: 100%;
		box-sizing: border-box;
		transform: translateX(0);
		transition: opacity 500ms ease, transform 500ms ease;

		&.active-state {
			transform: translateX(-100%);
		}
	}

	&__headline {
		margin-top: 0;

		@include bp-s-and-lower {
			margin: $spacing--500 0 $spacing--400;
		}
	}

	&__copy {
		@include paragraph-100();

		color: $color-primary--white;
		margin-top: 0;
		margin-bottom: 4rem;

		&--small {
			@include paragraph-200();

			color: $color-primary--white;
			margin-top: 0;
			margin-bottom: 4rem;

			.is-dark & {
				color: $color-primary--black;
			}

			/* stylelint-disable-next-line order/order */
			@include bp-s-and-lower {
				.is-dark & {
					color: $color-primary--white;
				}
			}
		}

		.is-dark & {
			color: $color-primary--black;
		}

		/* stylelint-disable-next-line order/order */
		@include bp-s-and-lower {
			.is-dark & {
				color: $color-primary--white;
			}
		}
	}

	&__profileInput {
		@include paragraph-100();

		color: $color-primary--black;
		border: transparent;
		border-bottom: 2px solid $color-primary--black;
		width: 100%;
		font-size: 1.8rem;

		/* stylelint-disable-next-line order/order */
		@include bp-s-and-lower {
			background-color: $color-primary--black;
			border-bottom: 2px solid $color-primary--white;
			color: $color-primary--white;
		}
	}

	&__dataCollector {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__dataText {
		@include paragraph-100();

		padding-left: 2rem;
		margin: 2rem 0;
	}

	&__forwardButton {
		@include button-animation();

		padding: $spacing--200 0;
		width: 20rem;
		border-radius: 2.4rem;
	}

	&__backwardButton {
		transform: rotate(180deg);
		padding: $spacing--100 0;
		width: fit-content;
		border: 0;
		margin-bottom: 2rem;
		background-color: transparent;

		&:hover {
			transform: rotate(180deg) scale(0.95);
		}

		/* stylelint-disable-next-line order/order */
		@include bp-s-and-lower {
			margin: 2rem 0;
		}

		&--svg {
			height: 3rem;
			width: 3rem;
			@include bp-s-and-lower {
				filter: invert(1);
			}
		}
	}

	.button {
		background-color: $color-primary--gray;
		color: $color-primary--white;

		.is-dark & {
			background-color: $color-primary--beige;
			color: $color-primary--black;
		}

		/* stylelint-disable-next-line order/order */
		@include bp-s-and-lower {
			width: 100%;
			text-align: center;

			.is-dark & {
				background-color: $color-primary--gray;
				color: $color-primary--white;
			}

			&__text {
				margin: 0 auto;
				text-transform: uppercase;
			}
		}
	}
}
