@import "../core/variables";
@import "../core/mixins";

.share-buttons {
	@include bp-xs() {
		width: 100%;
	}

	&__text {
		font-size: $font-size--copy-1;
		font-family: $font-sans-serif-semibold;

		@include bp-xs() {
			text-align: center;
		}
	}
	&__button-grid {
		@include spacing-300(margin-top);

		display: grid;
		column-gap: $spacing--200;
		row-gap: $spacing--200;
		grid-template-columns: $spacing--600 $spacing--600 $spacing--600;

		@include bp-xs() {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		&.double-rows {
			grid-template-columns: $spacing--600 $spacing--600 $spacing--600;
		}

		&.row {
			grid-template-columns: $spacing--700 $spacing--700 $spacing--700 $spacing--700 $spacing--700 $spacing--700;
		}
	}
}
