@import "../core/variables";
@import "../core/mixins";

.stage {
	@include responsive-spacing(margin-bottom, $spacing--900, $spacing--900--tablet, $spacing--900--desktop, $spacing--900--desktop-xl);

	background-color: $color-primary--black;
	color: $color-primary--white;
	height: 100vh;
	position: relative;
	overflow: hidden;
	margin: 0;

	&__headline {
		@include bp-xs() {
			margin-top: 10rem;
			margin-bottom: 0;
		}

		.headline-202 {
			@include font-serif-shared-large;
		}
	}

	&__subheadline {
		@include subheadline-100();

		@include responsive-spacing(margin-bottom, $spacing--500, $spacing--500--tablet, $spacing--500--desktop, $spacing--500--desktop-xl);
	}

	&__background {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__gradient {
		background: linear-gradient(180deg, $color-primary--black, $color-primary--white);
		height: 9.5rem;
		width: 100vw;
		position: absolute;
		top: 0;
		mix-blend-mode: multiply;
		opacity: 0.1;
		z-index: 10;
	}

	&__title {
		margin: auto;
		position: relative;
		width: 100%;

		&--with-video {
			@include bp-xs() {
				margin: 0;
			}
		}
	}

	&__video {
		margin: auto;
		position: relative;
		width: 100%;
		overflow: hidden;

		@include bp-xs() {
			margin: 0;
		}

		&__item {
			width: 90%;
			@include bp-xs() {
				width: 100%;
			}
		}

		&--reduced-motion {
			display: none;
		}
	}

	@media (prefers-reduced-motion) {
		&__video__item {
			display: none;
		}

		&__video--reduced-motion {
			display: block;
		}
	}

	&__overlap {
		@include bg-and-color-animation();

		background-color: $color-primary--white;
		position: absolute;
		z-index: 4;

		&--bottom {
			width: 100%;
			height: $spacing--200;
			bottom: 0;
		}

		&--left {
			width: $spacing--200;
			height: 50%;
			left: 0;
			bottom: 0;

			@include bp-xs {
				display: none;
			}
		}

		.is-dark & {
			background-color: $color-primary--black;
		}
	}
}
