.tab-list {
	position: relative;
	cursor: pointer;
	width: fit-content;

	& + & {
		@include spacing-100(margin-top);
	}

	a {
		@include paragraph-100();

		color: $color-primary--black;
	}

	&[aria-selected="true"],
	&:hover,
	&.active-list {
		@include label-100();

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -1.6rem;
			width: 0.4rem;
			height: 0.4rem;
			background: $color-secondary--purple;
			border-radius: 45%;
		}
	}
}

.tab-list--underline {
	@include underline-animation($color-primary--black);

	white-space: nowrap;
	outline: 0;
}
