.text-teaser {
	&__headline {
		@include headline-300();

		color: $color-primary--black;

		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__text {
		@include subheadline-200();

		font-family: $font-sans-serif-light;
		color: $color-primary--black;

		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__link {
		@include interactive-100();
		@include underline-animation($color-secondary--yellow);

		text-transform: uppercase;
		color: $color-primary--black;
		margin-bottom: $spacing--800;

		&::before {
			position: absolute;
			content: "";
			top: 90%;
			transform: scaleX(1);
			background: #ffd400;
			width: 100%;
			height: 0.1rem;
			left: 0;
			pointer-events: none;
		}

		.is-dark & {
			color: $color-primary--white;
		}
	}

	&__content-wrapper {
		@include bp-xs() {
			margin-top: $spacing--100;
		}

		*:first-child {
			@include bp-xs() {
				margin-top: 0;
			}
		}
	}
}
