.quote {
	@include spacing-900(margin);
	@include spacing-400(margin-right);

	@include bp-xs {
		@include spacing-400(margin-left);
		@include spacing-400(margin-right);
	}

	&__speach {
		@include headline-300();

		margin-bottom: 0;
		font-family: $font-sans-serif-light;

		img {
			@include bp-xs {
				margin: 0 3vw 0 0;
			}
			@include bp-tablet {
				margin: 0 3vw 0 -3vw;
			}
			@include bp-l {
				margin: 0 2.5vw 0 3.5vw;
			}
			@include bp-xl {
				margin: 0 5vw 0 -1vw;
			}
		}
	}

	&__author {
		@include spacing-500(margin-top);

		margin: 1rem 0;

		span {
			font-family: $font-sans-serif-semibold;
		}
	}
}
