// core
@import "./core/animations";
@import "./core/base";
@import "./core/fonts";
@import "./core/grid";
@import "./core/variables";
@import "./core/components-page";
@import "./core/form";

// includes
@import "./includes/footer";
@import "./includes/navigation";
@import "./includes/overlap";
@import "./includes/slider";
@import "./includes/locations";
@import "./includes/stage";
@import "./includes/work";
@import "./includes/job-teaser";
@import "./includes/section-header";
@import "./includes/error-stage";
@import "./includes/offering";
@import "./includes/headline-copy";
@import "./includes/video";
@import "./includes/anchor-navigation";
@import "./includes/data-policy";
@import "./includes/tab-list";
@import "./includes/large-title-overlay";
@import "./includes/imprint";
@import "./includes/text-teaser";
@import "./includes/button-notext";
@import "./includes/button-icon";
@import "./includes/button";
@import "./includes/filter-checkbox";
@import "./includes/share-buttons";
@import "./includes/career-landingpage";
@import "./includes/image-text-teaser";

// External
@import "node_modules/swiper/swiper";
