---
title: SinnerSchrader - Contact Me
layout: default.liquid
permalink: wearehiring.html
homepage: true
renderData: careerLandingpage
bodyClass: is-dark
---

{% include navigation, data: global %}

<main class="career-landingpage">
	<section class="grid">
		{% include page-headline, data: careerLandingpage %}
	</section>
	<section class="grid background--raster">
		<div class="career-landingpage__intro col-start-5 col-7 col-start-1-xs col-12-xs">
			<p class="career-landingpage__intro-text">
				{% introText %}
			</p>
		</div>
		{% include large-title, data: careerLandingpage %}
	</section>
	<section class="grid buzzword">
		{% include section-header, title: "Our Mission", number: "02" %}
		<h3 class="buzzword__headline col-start-1 col-end-13-s col-end-5">{% buzzwordHeadline %}</h3>
		<div class="col-end-13 col-start-1-xs col-start-5">
			<ul class="buzzword__list">
				{% for buzzword in buzzwords %}
					<li>{% buzzword %}</li>
				{% endfor %}
			</ul>
			<a class="buzzword__link" href="./">{% readMoreLink %}</a>
		</div>
	</section>
	<section>
		{% include section-header, title: "Join us", number: "03", type: "small" %}
	</section>
	<section class="grid">
		<form class="career-landingpage__form form col-start-1-xs col-start-5 col-end-13">
			<label class="form__group" for="full-name">
				<span class="form__label">Full Name <span class="form__required">(required)</span></span>
				
				<span class="form__error-message is-hidden">
					You must input a real name.
				</span>
		
				<input class="form__field" id="full-name" name="full-name" required type="text">
			</label>
		
			<label class="form__group" for="email">
				<span class="form__label">How to reach you best? <span class="form__required">(required)</span></span>
		
				<span class="form__error-message is-hidden">
					please add your email address or phone number.
				</span>
		
				<input class="form__field" id="email" name="email" required type="email">
		
				<span class="form__subline">
					e.g. email address or phone number
				</span>
			</label>


			<label class="form__group" for="email">
				<span class="form__label">Your email address <span class="form__required">(optional)</span></span>
			
				<span class="form__error-message is-hidden">
					please add your email address or phone number.
				</span>
			
				<input class="form__field" id="email" name="email" required type="email">
			
				<span class="form__subline">
					to get a copy of this form
				</span>
			</label>
			
			<label class="form__group" for="profile">
				<span class="form__label">Just drop us a link to one of your profiles <span class="form__required">(required)</span></span>
			
				<span class="form__error-message is-hidden">
					please put in a valid | url_escape
				</span>
			
				<input class="form__field" id="profile" name="profile" required  type="url">
			
				<span class="form__subline">
					e.g. linkedIn, github, gitlab, Xing, ...
				</span>
			</label>

			<div aria-labelledby='whoever' role='radiogroup' class="form__group form__radio-group">
				<span class="form__label">To whom do you wanna speak to? <span class="form__required">(required)</span></span>
				<label for="whoever" class="form__radiobox">
					<input id="whoever" type="radio" name="answers" value="whoever" checked>
					<span class="form__radiobox-label">Whoever</span>
				</label>
				<label for="recruiter" class="form__radiobox">
					<input id="recruiter" required type="radio" name="answers" value="recruiter">
					<span class="form__radiobox-label">Recruiter</span>
				</label>
				<label for="developer" class="form__radiobox">
					<input id="developer" type="radio" name="answers" value="developer">
					<span class="form__radiobox-label">Developer</span>
				</label>
				<span class="form__error-message is-hidden">
					Please select one option.
				</span>
			</div>
			
			<div aria-labelledby='privacy' role='checkbox'>
				<label for="privacy" class="form__checkbox">
					<input id="privacy" class="form__checkbox-box" type="checkbox" name="privacy" value="yes">
					<span class="form__checkbox-label">I have taken note of the privacy policy. I agree that my information and data will be collected and stored
					electronically to answer my request.</span>
				</label>
				<span class="form__error-message is-hidden">
					Please select one option.
				</span>
			</div>

			<button class='form__button' type="submit">Contact me</button>
			<p>We will! thank you for you interest.</p>
		</form>
	</section>

	<section>
		{% include section-header, title: "You can of course work remotely like most of us do these days. But just in case you ever want to see a colleague not
		inside a screen, just drop by at one of our studios.", number: "04", type: "medium" %}
		{% include locations %}
	</section>
</main>

{% include footer, data: global %}


