---
title: SinnerSchrader - Contact Me
layout: default.liquid
permalink: landingpage.html
homepage: true
renderData: careerLandingpage
bodyClass: is-dark
---

{% include navigation, data: global %}

<main class="career-landingpage">
	<section class="grid">
		{% include page-headline, data: careerLandingpage %}
	</section>
	<section class="grid">
		<div class="background--raster">
			<p>
				We’re a colorful community of creators, developers, coders, and dreamers that craft experiences for an open and
				optimistic world. We’re also among one of the fastest growing agency families in the world – and happy to say
			</p>
		
			{% include large-title, data: careerLandingpage %}
		</div>
	</section>

	<section class="grid">
		<form class=" form">
			<label for="full-name">
				<span class="form__label">Full Name <span class="form__required">(required)</span></span>
				
				<span class="form__error-message is-hidden">
					You must input a real name.
				</span>
		
				<input class="form__field" id="full-name" name="full-name" required type="text">
			</label>
		
			<label for="email">
				<span class="form__label">How to reach you best? <span class="form__required">(required)</span></span>
		
				<span class="form__error-message is-hidden">
					email address or phone number.
				</span>
		
				<input class="form__field" id="email" name="email" required type="email">
		
				<span class="form__subline">
					email. phone
				</span>
			</label>
			
			<label for="profile">
				<span class="form__label">Just drop us a link to one of your profiles<span class="form__required">(required)</span></span>
			
				<span class="form__error-message is-hidden">
					please put in a valid | url_escape
				</span>
			
				<input class="form__field" id="profile" name="profile" required type="url">
			
				<span class="form__subline">
					e.g. linkedIn, github, gitlab, Xing, ...
				</span>
			</label>

			<div aria-labelledby='legend-1' role='radiogroup' class="form__radio-group">
				<span class="form__label">To whom do you wanna speak to? <span class="form__required">(required)</span></span>
				
				<label for="recruiter">
					<span class="form__radiobox-label">Recruiter</span>
					<input class="form__radiobox" id="recruiter" required type="radio" name="answers" value="recruiter">
				</label>
				<label for="developer">
					<span class="form__radiobox-label">Developer</span>
					<input class="form__radiobox" id="developer" type="radio" name="answers" value="developer">
				</label>

				<label for="whoever">
					<span class="form__radiobox-label">Whoever</span>
					<input class="form__radiobox" id="whoever" type="radio" name="answers" value="whoever">
				</label>
				<span class="form__error-message is-hidden">
					Please select one option.
				</span>
			</div>

			
			<button class='form__button' type="submit">Contact me</button>
			
		</form>
	</section>

	<section>
		{% include section-header, title: "Here we are", number: "06", type: "medium" %}
		{% include locations %}
	</section>

	

</main>

{% include footer, data: global %}


