---
title: SinnerSchrader
layout: default.liquid
permalink: imprint.html
---

{% include navigation, data: global %}

<main>
	<section class="grid">
		{% include page-headline, data: imprint %}
	</section>
    <section class="imprint-large-title">
		{% include large-title-overlay, data: imprint %}
    </section>
	<section>
		{% include section-header, title: "Imprint", number: "01" %}
	</section>

	<div class="grid imprint">
		<div class="col-start-3 col-end-8 col-start-1-xs col-end-13-xs col-start-5-s col-end-12-s">
            <h2 class="copy--title">SinnerSchrader <br/> Aktiengesellschaft</h2>
            {% include s2-contact, data: imprint %}
            <h2 class="imprint__title">Managment Board</h2>
            <p>Thomas Dyckhoff, Evalotta Kahlen Chairperson <br/> Supervisory Board: Frank Riemensperger</p>
            <h2 class="imprint__title">Court of Registry:</h2>
            <p>Amtsgericht Hamburg Registration Number – HRB 74455 <br/> EU VAT ID: DE812894649</p>
		</div>
        <div class="col-start-8 col-end-13 col-start-1-xs col-end-13-xs col-start-5-s col-end-12-s">
            <h2 class="copy--title">SinnerSchrader <br/> Deutschland GmbH</h2>
            {% include s2-contact, data: imprint %}
            <h2 class="imprint__title">Managment Board</h2>
            <p>Dr. Axel Averdung (chairperson), Holger Blank, Kristina Bonitz, <br/> Philipp Kafkoulas, Florian Langmack, Sven Schmiede, Pia Schott u. a.</p>
            <h2 class="imprint__title">Court of Registry:</h2>
            <p>Amtsgericht Hamburg Registration Number – HRB 63663 <br/> Sales Tax Identification Number: DE812160091</p>
		</div>
	</div>
</main>

{% include footer, data: global %}
