service: serverless-contactform


provider:
  name: aws
  runtime: nodejs14.x
  region: eu-central-1
  timeout: 120 # The default is 6 seconds. Note: API Gateway current maximum is 30 seconds
  logRetentionInDays: 14 # Set the default RetentionInDays for a CloudWatch LogGroup
  iamRoleStatements: #other permissions are given via IAM configuration
    - "Effect": "Allow"
      "Action":
         - "iam:Get*"
         - "iam:List*"
         - "ses:SendEmail"
         - "ses:SendRawEmail"
      "Resource": "*"
  httpApi:
    cors: true # remove true when enabling allowedOrigins
# enable if everything works
#      allowedOrigins:
#        - https://sinnerschrader.com

functions:
  contactform:
    handler: email.handler
    events:
      - httpApi: '*'
